.mothership {
   text-align: center;
   position: absolute;
   display: block;
   left: 10px;
   top: 150px;
}
 .mothership .word {
   background: var(--clr-word-label);
   border-radius: 4px;
   color: var(--clr-white);
   display: none;
   font-family: Consolas, monaco, monospace;
   font-size: 0.8em;
   margin: 0;
   padding: 3px 5px;
}
 .mothership .ship {
   display: block;
}
 .mothership .ship svg {
   height: 250px;
   width: 270px;
}
 .mothership .ship svg.hit {
   animation: mothership_hit 0.3s ease infinite;
   animation-iteration-count: 3;
}
 .mothership .ship svg.destroyed {
   animation: mothership_hit 0.3s ease infinite;
}
 .mothership .ship svg #Mothership {
   animation: levitate 2s ease infinite;
}
 .mothership .ship svg #bigeye {
   animation: levitate_slowly 2s ease infinite;
}
 .mothership .ship svg #bottomsoucoupe {
   animation: levitate_slowly 2s ease infinite;
}
 .mothership .ship svg #topsoucoupe, .mothership .ship svg #lights {
   animation: levitate_slowly_inverted 2s ease infinite;
}
 .mothership .ship svg #wingrightbottom, .mothership .ship svg #wingleftbottom, .mothership .ship svg #winglefttop, .mothership .ship svg #wingrighttop {
   animation: rotation_left 2s ease infinite;
}
 .mothership .ship svg #ruby, .mothership .ship svg #eye {
   animation: look_right 4s ease infinite;
}
 